$size__site-main: 100%;
$size__site-sidebar: 25%;

$screen__break-point-xl: 75em;
$screen__break-point-l: 64em;
$screen__break-point-m: 48em;
$screen__break-point-s: 37.5em;
$screen__break-point-xs: 25em;